[Desktop Entry]
Encoding=UTF-8
Name=Link to outdor.png
Type=Link
URL=https://github.com/GDquest/Godot-engine-tutorial-demos/blob/master/2018/tools/autotile-templates/assets/outdor.png?raw=true
Icon=image-png
